<ion-content class="ion-padding">
  <div class="full-flex">
    <p>
      Please enter your registered email, we will send you an email to reset
      your password
    </p>
    <form [formGroup]="forgotPasswordForm">
      <div class="flex-item" style="margin-top: 10px; padding: 0px">
        <ion-input
          formControlName="email"
          placeholder="Email"
          class="flex-input"
        ></ion-input>
      </div>
      <div class="gradient-btn" style="margin-top: 5vh">
        <ion-button
          (click)="resetPassswordInit()"
          style="--background: white"
          type="submit"
          class=""
          >Reset Password</ion-button
        >
      </div>
      <div class="gradient-btn" style="margin-top: 2vh">
        <ion-button
          routerLink="/login"
          style="--background: white"
          type="submit"
          class=""
          >Back to login</ion-button
        >
      </div>
    </form>
  </div>
</ion-content>
